body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #cbd3df; 
}
#loginblock{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px; 
}